<!-- <mat-toolbar class="maintoolbar">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle();" id="titleicon">menu</mat-icon>
      </button>
      <h1><a routerLink="/" class="title">CommandCenter</a></h1>
    </mat-toolbar-row>
  </mat-toolbar>
  
    <mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side" id="sidenav1">
      <mat-nav-list>       
        <a mat-list-item>INC/Tickets</a>       
        <a mat-list-item>Reports</a>       
        <a mat-list-item>Configuration</a>
       
      </mat-nav-list>
    </mat-sidenav>
  
  
    <mat-sidenav-content> 
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  

 -->
